:root {
  --white: #fff;
  --black: #000;

  /* Red color */
  --red-500: #ff2f48;

  /* Azure color */
  --azure-200: #e8edf2;

  /* Cyan color */
  --cyan-800: #2e4f4f;

  /* Cobalt color */
  --cobalt-900: #1c1c1e;

  /* Violet color */
  --violet-100: hsl(270, 100%, 95%);
  --violet-200: hsl(270, 100%, 85%);
  --violet-300: hsl(270, 100%, 75%);
  --violet-400: hsl(270, 100%, 65%);
}
