
@use 'assets/sass/abstracts' as abs;

.siminfo_wrapper {
    padding: abs.rem(8) abs.rem(16);
    margin-bottom: abs.rem(16);
    &__row {
        margin-bottom: abs.rem(12);
    }

    &__col_title {
        max-width: abs.rem(120);
        width: 100%;
        div {
            height: 50%;
            display: flex;
            align-items: center;
        
            margin-left: abs.rem(8);
        }
    }

    &__img_couple {
        margin-bottom: abs.rem(8);
    }
}